#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.reward {
  border-radius: 3rem;
  padding: 0.5rem;
  aspect-ratio: 1/1;
  width: 3ch;
  line-height: 3ch;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.5em;
}

.coin {
  background-color: pink;
}

.spin {
  background-color: lime;
}

.chain {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.slider {
  width: 20ch;
}
