html {
  --honey-bronze: #f6ae2dff;
  --charcoal-blue: #454955ff;
  --lavender-mist: #f3eff5ff;
  --lime-moss: #72b01dff;
  --green: #3f7d20ff;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: grid;
  justify-items: center;
}

.reward {
  border-radius: 3rem;
  padding: 0.5rem;
  aspect-ratio: 1/1;
  width: 3ch;
  line-height: 3ch;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.5em;
}

.coin {
  background-color: var(--honey-bronze);
}

.spin {
  background-color: var(--lime-moss);
}

.chain {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2ch;
  justify-content: flex-start;
  max-width: 80ch;
}

.slider {
  width: 20ch;
}

input[type="button"] {
  background: var(--charcoal-blue);
  font-weight: 700;
  color: white;
  margin: 1ch;
  font-size: 1em;
  padding: 0.4em 1em;
  border: none;
  border-radius: 0.5em;
  max-width: 20rem;
}

.inputs {
  display: flex;
  justify-content: space-around;
  width: 30rem;
}
